div.container {
	border-style: outset;
	border-color: #E6E6FA;
	border-radius: 15px;
	background-color: #E6E6FA;
	width: 50%;
}
div.container2 {
	border-style: outset;
	border-color: #E6E6FA;
	border-radius: 15px;
	background-color: #E6E6FA;
	width: 25%;
}
h1{
	border-style: none;
}
html{
	background-color: #F8F8FF;
}
