div.container {
	border-style: outset;
	border-color: #E6E6FA;
	border-radius: 15px;
	background-color: #E6E6FA;
	width: 35%;
	padding: 15px;
}
div.container1 {
	border-style: outset;
	border-color: #E6E6FA;
	border-radius: 15px;
	background-color: #E6E6FA;
	width: 25%;
	padding: 15px;
}
h1{
	border-style: none;
}
html{
	background-color: #F8F8FF;
}
button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
